 <div class="bottomWidget" background=#72777F margin-top=100px>

   <p>Romero Custom Builders specializes in building custom luxury homes in the Northern Virginia area</p>
   <p>Providing the best possible logistics for custom home building</p>
<hr>
    <p align="center">
    Contact
    </p>

    <p align="center">
    703-401-2070 | newhome@rcustombuilders.com | RCustomBuilders.com
    </p>
    <p>
      Designed by mreyeslo.com
    </p>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>
