<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
<link rel="stylesheet" href="/app.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />



<style>
@media screen and (max-width: 900px) {
.topInfo{
  font-size:13px;
  
}
  
.carousel-caption >h1{
display:none;
}
.carousel-caption >p{
display:none;
}

.navbar-nav {
    float: center;
    margin: 0;
}

.navbar-default .navbar-nav>li>a {
    color: #074A90;
    font-size: 20px;
    font-family: 'Spectral SC', serif;
    padding-top: 15px;
    padding-bottom: 15px;
}

.carousel-inner > .item > img {
  /*algin to center*/
    margin: 0 auto;
     max-height: 340px;
}


}

}
</style>
<head>
	<title>RCUSTOMBUILDERS</title>
	<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111026371-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111026371-1');
</script>
</head>
<body>

  <div class="container">
 
  <div class="topInfo">
    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
    <a href="tel://1-703-401-2070">  703-401-2070</a> |  
    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
    <a href="mailto:newhome@rcustombuilders.com?Subject=rcustombuilders new inquiry" target="_top">newhome@rcustombuilders.com</a>

  </div>
    <div class="jumbotron">
    <img src="/rcustombanner.png" >
    
  </div> 
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!--<a class="navbar-brand" href="/"><img src="/romeros-logo-1.jpg" alt="Logo" >-->
        </a>
      </div>
      <div id="navbar1" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <!---->
          <li><a href="/">Home</a></li>
          <li><a href="/custom">Custom Homes</a></li>
          <li><a href="/projects">Upcoming Projects</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/contact">Contact Us</a></li>
          <!---->
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
    <!--/.container-fluid -->
  </nav>
  
 