<% include partials/header%>
<div class="cityIcon">
  Current Projects 
</div>
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-16">
        <div class="thumbnail">
          <img class="rowsize" src="/pro_001/Front.png" >
          <p class="imgTitle" > See Pocomoke Plans </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 col-sm-16">
        <div class="thumbnail">
          <img class="rowsize" src="/pro_002/Front.png">
          <p class="imgTitle" > See Trinidad Plans </p>
        </div>
      </div>

    </div>
    
<% include partials/footer%>
